@font-face {
  font-family: 'Liberation Sans';
  src:
    local('Liberation Sans'),
    url('/assets/fonts/liberation-sans/regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Liberation Sans';
  font-weight: bold;
  src:
    local('Liberation Sans Bold'),
    url('/assets/fonts/liberation-sans/bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Liberation Sans';
  font-weight: bold;
  font-style: italic;
  src:
    local('Liberation Sans Bold Italic'),
    url('/assets/fonts/liberation-sans/bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Liberation Sans';
  font-style: italic;
  src:
    local('Liberation Sans Italic'),
    url('/assets/fonts/liberation-sans/italic.ttf') format('truetype');
}
